* {
  box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	margin:0;
}

.lightmode {
	color: #242424;
	background: #F5F5F5;
}

.darkmode {
	color: #F5F5F5;
	background: #181818;
}

.darkmode a{
	color: #F5F5F5;
}

.darkmode .unselected{
	border: solid 0.2em #fff9f95e !important;
}

.darkmode h1{
	color: #F5F5F5;
}

.darkmode .fade>b{
	color: #919191;
}

#darkmodeToggle>svg{
	color: #404040;
}

.darkmode #darkmodeToggle>svg{
	color: #ffa700;
}

.darkmode #returnTop{
	border-color: white;
	border-style: solid;
	border-width: 2px;
}

body{
	font-family: 'Courier New', monospace;
	line-height: 1.4;
	max-width: 64em;
	margin: auto;
	padding-left: min(50px, 3%);
    padding-right: min(50px, 3%);
}


h1,
h1>a{
	text-align: center;
	font-weight: 100;
	font-size: 1.8rem;
	margin-bottom: 1rem;
	color: #041B78;
	font-weight: bold;
	/*-webkit-text-stroke: 2px white;*/
}

h1>a,
.arrow{
	text-decoration: none;
	/*margin:0.3em;
	position:relative;
	top:-0.15em;*/
}

h2>a>sub{
	font-size: 0.5em;
	/*color:#242424*/
}

h2>svg{
	margin-bottom: -.4em;
	margin-left: 0.3em;
	cursor:pointer;
}

h3{
	text-align: center;
	margin:0.4em;
}

@media screen and (max-width: 700px) {
	nav {
		display: block;
	}
	#socials,
	#mainnav{
		width: 94% !important;
		margin: auto;
	}
	#mainnav > ul{
		justify-content: space-between !important;
	}
	#floatnav{
		max-width: 95% !important;
	}

}

@media screen and (min-width: 701px) {
	nav{
		display: flex;
		justify-content: space-between;
		margin: auto;
		width: 90%
	}
	#socials ul{
		width: 5em;
		position: relative;
		margin-left: auto;
		margin-right: 0;
	}
	#mainnav ul{
		display: block;
	}
	#filters{
		width: 70%;
	}
	#floatnav{
		width: 53%;
	}
}

#cookierebel,
#loadmore ul,
nav ul{
	list-style-type: none;
	display: flex;
	width: 100%;
	justify-content: center;
	padding-left: 0px;
	flex-flow: row wrap;
}

#cookierebel>li,
#loadmore ul>li,
nav ul>li{
	/*width: 100%;*/
	margin-right: 0.5em;
	margin-left: 0.5em;
	padding-top: 0.07em;
	background-color: rgb(245, 245, 245, 0.7);
}

.darkmode ul>li{
	background-color: rgb(24, 24, 24, 0.7) !important;
}

#mainnav{
	width: 20%;
}

#mainnav>ul{
	justify-content: flex-start;
}

#socials{
	width: 20%;
}

nav>div>ul>li>a,
nav>div>ul>li>svg{
	cursor:pointer;
	color: #404040;
	text-decoration: underline; 
	text-transform: uppercase;
}

#error{
    display: none;
    border: solid 3px #783004;
    box-shadow: 5px 5px 2px #783004;

}

article{
	padding: 0 1rem;
	margin-bottom: 1.5em;
	line-height: 1.2;
	word-spacing: -0.2em;
	letter-spacing: -0.1px;
	border: solid 0.2em #041B78;
	box-shadow: 5px 5px 0.15em #12008c;
}

.border{
	border: solid 3px #041B78;
	box-shadow: 5px 5px 2px #12008c;
}

article>div{
	
}

#cookierebel li{
	flex-grow: 1;
	max-width: 15em;
}

blockquote + br{
	position: absolute;
	visibility: hidden;
    display: none;
}

blockquote + br + br{
	position: absolute;
	visibility: hidden;
    display: none;
}

.readmore{	
	width: 100%;
	display: flex;
	justify-content: space-between;
	max-width: 50em;
	margin:auto;
	margin-top: 1.5em;
	border-top: 2px solid #041B78;
}

.readmore p {
	margin-top: 0.5em;
}

.readmore > a{
	margin-top: 1em;
	margin-bottom: 1em;
}

.readmore svg {
	position: relative;
	top: 0.3em;
}

.fade{
	color: #40404080;
}

.content{
	margin-top: 1em;
	overflow-wrap: break-word;
}

.content img,
.content video{
	margin: auto;
	display: block;
	max-height: 30em;
	max-width: 100%;
}

#filters{
	max-width: 28em;
	margin: auto;
}

.boxy li{
	border-radius: 1.2em;
	border: solid 0.2em #0000000f;
	padding-left: 1em;
	padding-right: 1em;
	cursor: pointer;
	min-width: 5em;
	text-align: center;
	margin-bottom: 0.5em;
	overflow-wrap: break-word;
}

#fadeLoad {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
	animation: fadeLoad 2s infinite;
	animation-timing-function: cubic-bezier(.45,.05,.55,.95);
	display: block;
}

@keyframes fadeLoad {
  50% { -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
	}
}

#filters>p{
	margin: auto;
	text-align: center;
}

.selected{
	border: solid 0.2em #041B78 !important;
}

.disabled{
	visibility:hidden;
	display:none;
}

.smallBlock{
	line-height: 1.1;
	font-size: 0.8em;
	margin-left: 10%;
}

footer{
	border-top: 0.2em solid #041B78;
	width: 83%;
	margin: auto;
	padding-top: 0.4em;
}

footer>*{
	text-align: center !important;
	width: 100% !important;
	margin-top:0.1em;
	margin-bottom:0.5em;
}

#returnTop{
	cursor:pointer;
	height: 4em;
	width: 4em;
	background-color: #041B78;
	border-radius: 50%;
	position: fixed;
	bottom: 4em;
	right: 2em;
	display: none;
	color: white;
}

#returnTop>svg{
	margin: auto;
}

.flexy{
	display: flex;
	justify-content: space-around;
}

#loadmore{
	display: none;
}

#aboutme{
	width: 100%;
	height: 30em;
	margin-bottom: 1em;
	cursor:pointer;
}

#floatnav{
	position: fixed;
	min-width: 54%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	top: 0em;
}

.collapse{
	display: none;
}

.uncollapse{
	cursor:pointer;
	text-decoration: underline; 
	text-align: right;
	float: left;
	margin-top: 0px;
	margin-bottom: 0.2em;
	margin-left: 1em;
}
p{
	width: fit-content;
	text-align: justify;
}

/* Chrome highlights canvas when tapped... */
canvas {
  -webkit-tap-highlight-color: transparent;
}

video{
	max-width: 100%;
	width:100%;
	aspect-ratio: 1 / 0.9;
	max-height: 35em;
	margin: auto;
}

.loadtext{
	position: absolute;
	overflow: hidden;
	text-align: center;
	left: 0;
	right: 0;
	z-index:-1;
	width: 100%;
	display: block;
	position: absolute;
	margin-top: 10em;
}

.bottom{
	text-align: center;
	padding-bottom:.5em;
}

#ttText {
	background-color: #041B78;
	color: #fff;
	display: none;
	width: 14em;
	text-align: center;
	padding: 0.5em 0;
	border-radius: 1.2em;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	margin: auto;
	transition: opacity 0.25s;
	opacity: 1;
	top: 4em;
}

